@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background-start: #5816b9;
  --background-end: #89888a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground:  0, 0, 0;
    --background-start: #6905ff;
    --background-end: 0, 0, 0;
  }
}

body {
  background-color: #F6F4F9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
