@import "../../../../styles/main.scss";

.header {
    background: $degradado-linear; 
    padding: 25px 126px 25px 60px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    top: 0; 
    width: 100%; 
    z-index: 30; 
  }
  
  .logo {
    display: flex; 
    align-items: center;
    float: right;
  }
  
  .menu {
    display: flex; 
    align-items: flex-end; 
  }
  
  .menu__opcion {
    margin-left: 20px; 
    font-family: "Montserrat"; 
    font-size: 15px; 
    justify-content:center ;
    display: flex;
    color: $gris-claro; 
    cursor: pointer;
    .icono {
      margin-left: 6px;
    }
  }
  
